*
body{
background-color:rgb(2, 2, 2);
color: whitesmoke;
padding-left: 20px;
}

.opcoes{
display: inline-flex;
background-color:rgb(230, 95, 17);
}

.cifrar{
    border-right-style:solid;
    border-right-width: 50px;
    border-right-color: rgb(2, 2, 2);
    padding-left: 15px;
}

button{
font-size: 45px;
color: black;
background-color: rgb(135, 50, 205);
border-radius: 15px;
border-style: solid;
border-color: rgb(255, 255, 255);
}

footer{
text-align: center;
padding-top: 25px;
}

a:link {
    text-decoration: none;
}